.mobileMenu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: #2d41f9;
	z-index: 999;
	padding: 20px;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	transform: translateX(100%);
	transition: transform 0.4s ease;
}

.mobileMenu.open {
	transform: translateX(0);
}

.mobileLogo img {
	filter: brightness(0) invert(1);
}

.mobileContent {
	display: flex;
	flex-direction: column;
}

.menuCard {
	background: #ffffff;
	border-radius: 12px;
	padding: 24px;
	display: flex;
	flex-direction: column;
	gap: 12px;
	margin-top: 38px;
}

.mobileMenuItem {
	font-size: 18px;
	color: #0b0d20;
	text-decoration: none;
	transition: color 0.3s ease;

	&:hover {
		color: #2d41f9;
	}

	&.active {
		color: #2d41f9;
	}
}

.contactsCard {
	background: #0b0d20;
	border-radius: 16px;
	padding: 24px;
	display: flex;
	flex-direction: column;
	gap: 12px;
	margin-block: 8px;
}

.contactItem {
	color: #ffffff;
	text-decoration: none;
	transition: opacity 0.3s ease;

	&:hover {
		opacity: 0.8;
	}
}

.mobileSocials {
	display: flex;
	gap: 12px;
	margin-top: 4px;
}

.mobileSocialLink {
	filter: brightness(0) invert(1);
}

.mobileCta {
	background: var(--9e70ff);
	font-family: var(--third-family);
	font-size: 18px;
	color: var(--ffffff);
	padding: 19px;
	border-radius: 12px;
	cursor: pointer;
	text-align: center;
	transition: background 0.3s ease;

	&:hover {
		background: #8b5cf6;
	}
}
