.news {
	padding-block: fluid(48, 24);
	background: var(--edeeff);

	&__title {
		text-align: center;
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: fluid(20, 8);
		margin-block: fluid(48, 24);

		@include desktopSmall {
			grid-template-columns: repeat(2, 1fr);
		}
		@include laptop {
			grid-template-columns: 1fr;
		}
	}

	&__load-more-wrapper {
		text-align: center;
	}
}
