.achievementsCard {
	display: grid;
	grid-template-columns: fluid(96, 80) 1fr;

	&__icon {
		border-radius: 50px;
		padding: 17px 16px;
		width: fluid(80, 64);
		height: fluid(80, 64);
		background: var(--edeeff);

		@media (max-width: 1024px) {
			padding: 12px 11px;
		}

		@media (max-width: 768px) {
			padding: 13px 12px;
		}
	}

	&__rank {
		font-family: var(--third-family);
		@include fluid-text(24, 16);
		line-height: 125%;
		padding-bottom: 6px;
	}
}
