.button {
	font-family: var(--second-family);
	text-align: center;
	color: var(--ffffff);
	border: none;
	border-radius: 24px;
	transition: all 0.3s ease;
	cursor: pointer;
	font-weight: 600;

	&_default {
		background: var(--2d41f9);
		padding: 9px 44px;
	}

	&_dark {
		background: var(--0b0d20);
		padding: 9px 26px 9px 27px;
	}

	&_light {
		border-radius: 24px;
		padding: 10px 25px;
		background: var(--edeeff);
		color: var(--0b0d20);

		&:hover {
			color: var(--ffffff);
		}
	}

	&:hover {
		background: linear-gradient(
			135deg,
			#2d41f9 0%,
			#9e70ff 45.5%,
			#36cfff 100%
		);
	}

	&.disabled {
		background: var(--edeeff);
		cursor: not-allowed;
		color: #999;

		&:hover {
			background: var(--edeeff);
			transform: none;
		}
	}

	&.active {
		background: linear-gradient(
			135deg,
			#2d41f9 0%,
			#9e70ff 45.5%,
			#36cfff 100%
		);
		color: var(--ffffff);
	}
}
