.achievements {
	padding-block: fluid(120, 48);

	&__title {
		text-align: center;
		margin-bottom: fluid(48, 24);
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
		gap: 40px 118px;

		@include desktopSmall {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(5, 1fr);
			gap: 40px;
		}

		@include laptop {
			grid-template-columns: 1fr;
			grid-template-rows: repeat(9, 1fr);
			gap: 40px;
		}
	}
}
