.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	background: transparent;
	transition: box-shadow 0.4s ease;
	border-radius: 0 0 24px 24px;

	&--scrolled {
		background: #0b0d20;
	}

	&__inner {
		width: 100%;
		padding-block: 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {
		img {
			transition: filter 0.3s ease;
		}

		.header--scrolled & {
			img {
				filter: brightness(0) invert(1);
			}
		}
	}

	&__menu {
		display: flex;
		gap: 24px;

		@media (max-width: 1023px) {
			display: none;
		}
	}

	&__menu-item {
		font-size: 14px;
		color: #0b0d20;
		transition: all 0.3s ease;

		&:hover {
			background: linear-gradient(135deg, #2d41f9, #9e70ff, #36cfff);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}

		.header--scrolled & {
			color: #ffffff;
		}
	}

	&__socials {
		display: flex;
		gap: 8px;
	}

	&__desktop-socials {
		display: flex;
		gap: 8px;

		@media (max-width: 1023px) {
			display: none;
		}
	}

	&__mobile-socials {
		display: none;
		align-items: center;
		gap: 12px;
		position: relative;
		z-index: 1100;
		margin-right: 36px;

		@media (max-width: 1023px) {
			display: flex;
		}
	}
}

.burger-wrapper {
	position: fixed;
	top: 28px;
	right: 16px;
	z-index: 1001;
	display: none;

	@media (max-width: 1023px) {
		display: block;
	}
}
