.footer {
	&__top {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 24px;
		margin-bottom: fluid(48, 24);

		@media (max-width: 768px) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	&__logo-col {
		display: flex;
		align-items: flex-start;
	}

	&__logo {
		height: fluid(100, 60);
		width: fluid(540, 330);
	}

	&__mobile-nav {
		display: grid;
		grid-template-columns: repeat(2, 1fr);

		@include laptop {
			display: flex;
			flex-direction: column-reverse;
		}
	}

	&__nav {
		display: flex;
		flex-direction: column;
		gap: 12px;

		@include laptop {
			align-items: center;
			padding-block: 24px;
			border-block: 1px solid #dfe1ff;
		}
	}

	&__nav-link {
		font-weight: 500;
		@include fluid-text(16, 14);
		transition: color 0.2s ease;

		&:hover {
			color: #2d41f9;
		}
	}

	&__contacts-col {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 12px;

		@include laptop {
			align-items: center;
			padding-bottom: 24px;
		}
	}

	&__phone,
	&__email {
		font-size: 24px;
		transition: color 0.2s ease;
		font-weight: 500;

		&:hover {
			color: #2d41f9;
		}
	}

	&__address {
		font-size: 16px;
	}

	&__socials {
		display: flex;
		align-items: center;
		gap: 8px;
	}

	&__bottom {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		align-items: center;
		font-weight: 400;

		@include laptop {
			display: flex;
			flex-direction: column-reverse;
			align-items: center;
			gap: 12px;
			text-align: center;
		}
	}

	&__copyright {
		@include fluid-text(16, 14);
		@include laptop {
			order: 3;
		}
	}

	&__bottom-link {
		display: flex;
		justify-content: center;
		transition: color 0.2s ease;

		&:hover {
			color: #2d41f9;
		}

		@media (max-width: 768px) {
			font-size: 13px;
		}
	}
}
