.achievements {
	padding: 120px 0;

	@media (max-width: 1024px) {
		padding: 72px 0;
	}

	@media (max-width: 768px) {
		padding: 48px 0;
	}
}

.title {
	text-align: center;
	font-size: 48px;
	margin-bottom: 48px;

	@media (max-width: 1024px) {
		font-size: 38px;
		margin-bottom: 32px;
	}

	@media (max-width: 768px) {
		font-size: 24px;
		margin-bottom: 24px;
	}
}

.list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 40px 118px;

	@media (max-width: 1024px) {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(5, 1fr);
		gap: 40px;
	}

	@media (max-width: 768px) {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(9, 1fr);
		gap: 40px;
	}
}

.item {
	display: flex;
}

.itemIcon {
	border-radius: 50px;
	padding: 17px 16px;
	width: 80px;
	height: 80px;
	background: var(--edeeff);
	margin-right: 16px;

	@media (max-width: 1024px) {
		width: 72px;
		height: 72px;
		padding: 12px 11px;
	}

	@media (max-width: 768px) {
		width: 64px;
		height: 64px;
		border-radius: 40px;
		padding: 13px 12px;
	}
}

.rank {
	font-size: 24px;
	line-height: 125%;
	padding-bottom: 6px;

	@media (max-width: 1024px) {
		font-size: 20px;
	}

	@media (max-width: 768px) {
		font-size: 16px;
	}
}

.itemDescription {
	font-weight: 500;

	@media (max-width: 1024px) {
		font-size: 14px;
	}

	@media (max-width: 768px) {
		font-size: 14px;
	}
}
