.hero {
	position: relative;
	overflow: hidden;
	margin-top: 92px;
	background: linear-gradient(90deg, #2d41f9 0%, #1b2793 100%);
	border-radius: 24px;

	&__content {
		background-image: url(/hero-bg.jpg);
		background-repeat: no-repeat;
		background-position: bottom right;
		background-size: contain;
		min-height: 400px;
		max-width: 1324px;
		margin: 0 auto;
		width: 100%;
		height: 100%;
		position: relative;
		bottom: 0;
		padding-left: 120px;
		padding-block: 93px;

		@include desktopSmall {
			padding-left: 60px;
			padding-block: 40px;
			background-size: 550px;
		}

		@include laptop {
			background-position: bottom right -50px;
			background-size: 460px;
			padding: 20px;
		}

		@include fullMobile {
			background-size: 355px;
		}

		@include mobile {
			background-size: 285px;
		}
	}

	&__title {
		@include fluid-text(32, 20);
		line-height: 125%;
		color: var(--ffffff);
	}

	&__wrapper {
		display: flex;
		padding-top: 20px;
		gap: 12px;

		@include desktopSmall {
			flex-direction: column-reverse;
		}
	}

	&__actions {
		display: flex;
		flex-direction: column;
		gap: 16px;
		align-items: flex-start;
	}

	&__button {
		padding: 10px 18px;

		@include laptop {
			font-size: 12px;
		}
	}

	&__socials {
		display: flex;
		gap: 8px;
	}

	&__social-link {
		border-radius: 50%;
		width: 24px;
		height: 24px;
		background: #0b0d20;
		transition: all 0.3s ease;
		border: none;
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			filter: brightness(0) invert(1);
			transition: transform 0.3s ease;
		}

		&:hover {
			background: #1a1d3a;
			transform: scale(1.05);

			img {
				transform: scale(1.1);
			}
		}
	}
}
